body {
  background-color: white;
}
@keyframes zoom {
  0% {
    transform: scale(1); /* Default size */
  }
  50% {
    transform: scale(1.3); /* Zoom in by 30% */
  }
  100% {
    transform: scale(1); /* Back to default size */
  }
}

.linkedin-icon {
  animation: zoom 0.5s infinite; /* Infinite zoom effect */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
